{% extends "base_temp.html" %}

{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% load static %}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}            {# Adds date-picker required JS and CSS #}

{% block content %}
    <div>
        <div class="row ">
            <div class="col-12 vh-100">
                <div id="map">
                </div>
            </div>
        </div>
    </div>

    <div id="sidebar" class="leaflet-sidebar">
        <!-- Nav tabs -->
        <div class="leaflet-sidebar-tabs">
            <ul role="tablist"> <!-- top aligned tabs -->
                <li ><a href="#home" role="tab"><i class="fa fa-map mt-2"></i></a></li>
                <li><a href="#info" role="tab"><i class="fa fa-info mt-2"></i></a></li>
                <li><a href="#measurement" role="tab"><i class="fa fa-ruler mt-2"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="leaflet-sidebar-content">
            <div class="leaflet-sidebar-pane" id="home">
                <h1 class="leaflet-sidebar-header">
                    NEWS WBM
                    <div class="leaflet-sidebar-close"><i class="fa fa-caret-left mt-2"></i></div>
                </h1>
                <div class="mr-4">
                    <form action="{% url 'news_wms' slug year %}" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-12">
                                {{ form.gcm|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                {{ form.rcp|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                {{ form.energy_scenario|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                {{ form.v|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                {{ form.year|as_crispy_field }}
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" name="update" value="update">
                        <div class="form-row">
                            <div class="form-group col-12">
                                {{ form.start_date|as_crispy_field }}
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                {{ form.end_date|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                {{ form.variable|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                {{ form.format|as_crispy_field }}
                            </div>
                        </div>

                        <div class="form-row">
                            {{ form.non_field_errors }}
                            <div class="form-group col-6">{{ form.lat_start|as_crispy_field }}</div>
                            <div class="form-group col-6">{{ form.lat_end|as_crispy_field }}</div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-6">{{ form.lon_start|as_crispy_field }}</div>
                            <div class="form-group col-6">{{ form.lon_end|as_crispy_field }}</div>
                        </div>
                        {{ form.spatial_subset|as_crispy_field }}
                        <input type="submit" class="btn btn-primary btn-block" name="download" value="download"
                               formtarget="_blank">
                    </form>

                </div>

            </div>


            <div class="leaflet-sidebar-pane" id="info">
                <h1 class="leaflet-sidebar-header">
                    About NEWS
                    <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

                <h2>Overview</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ex inventore ipsam quae recusandae reprehenderit voluptates. Assumenda aut consectetur cupiditate earum facilis iste, laudantium natus pariatur, reiciendis sapiente totam veniam?</p>

                <h2>GCM</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ex inventore ipsam quae recusandae reprehenderit voluptates. Assumenda aut consectetur cupiditate earum facilis iste, laudantium natus pariatur, reiciendis sapiente totam veniam?</p>

                <h2>RCP</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ex inventore ipsam quae recusandae reprehenderit voluptates. Assumenda aut consectetur cupiditate earum facilis iste, laudantium natus pariatur, reiciendis sapiente totam veniam?</p>

                <h2>Energy Scenario</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ex inventore ipsam quae recusandae reprehenderit voluptates. Assumenda aut consectetur cupiditate earum facilis iste, laudantium natus pariatur, reiciendis sapiente totam veniam?</p>

                <h2>V</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ex inventore ipsam quae recusandae reprehenderit voluptates. Assumenda aut consectetur cupiditate earum facilis iste, laudantium natus pariatur, reiciendis sapiente totam veniam?</p>

            </div>

            <div class="leaflet-sidebar-pane" id="measurement">
                <h1 class="leaflet-sidebar-header">
                    Variables
                    <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

                <h2>Discharge</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque dicta error quia. Aut beatae blanditiis dolor fuga fugit iste laborum, neque omnis possimus provident rem totam ut voluptas, voluptate!</p>

                <h2>Runoff</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid animi at delectus eius est excepturi hic inventore itaque nisi non pariatur, possimus provident recusandae repudiandae, tempora ut vel voluptates.</p>

                <h3>Water Temperature</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci aliquam aperiam architecto, consequatur deleniti dicta dolore eius expedita illo, libero minus perspiciatis placeat quis quisquam sed suscipit voluptatum.</p>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        let year = '{{ year }}';
        let slug = '{{ slug }}';

        let discharge_png = "{% static "img/discharge.png" %}" ;
        let watertemp_png = "{% static "img/watertemp.png" %}";
        let runoff_png = "{% static "img/runoff.png" %}";
    </script>

    <script src="{% static 'js/map.js' %}"></script>

{% endblock %}
