<html>
<body>
    <a href="{% url 'news_wms' model='hadgem2-es_rcp8p5' year=today_year %}">hadgem2-es</a>
    <br>
    <a href="{% url 'news_wms' model='gfdl-esm2m_rcp8p5' year=today_year %}">gfdl-esm2m</a>
    <br>
    <a href="{% url 'news_wms' model='ipsl-cm5a-lr_rcp8p5' year=today_year %}">ipsl_cm5a-lr</a>
    <br>
    <a href="{% url 'news_wms' model='miroc-esm-chem_rcp8p5' year=today_year %}">miroc-esm-chem</a>
    <br>
    <a href="{% url 'news_wms' model='noresm1-m_rcp8p5' year=today_year %}">noresm1-m</a>
</body>
</html>


